name: Django CI

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    test:
        runs-on: ubuntu-latest

        services:
            mysql:
                image: mysql:8.0
                env:
                    MYSQL_DATABASE: test_db
                    MYSQL_USER: test_user
                    MYSQL_PASSWORD: test_password
                    MYSQL_ROOT_PASSWORD: root_password
                ports:
                    - 3306:3306
                options: >-
                    --health-cmd="mysqladmin ping --silent"
                    --health-interval=10s
                    --health-timeout=5s
                    --health-retries=3

        env:
            DB_NAME: test_db
            DB_USER: test_user
            DB_PASSWORD: test_password
            DB_HOST: 127.0.0.1
            DB_PORT: 3306
            DJANGO_SETTINGS_MODULE: messaging_app.settings

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.10"

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r messaging_app/requirements/txt

            # Linting error tests with flake8
            - name: Run flake8 link checks
              run: |
                flake8 messaging_app

            - name: Run migrations
              run: |
                python messaging_app/manage.py migrate

            # Run tests (+ coverage)
            - name: Run tests with coverage
              run: |
                coverage run --source=messaging_app messaging_app/manage.py test
                coverage report
                covergae xml -o coverage.xml

            # Upload coverage report
            - name: Upload coverage report
              uses: actions/upload-artifact@v4
              with:
                name: coverage-report
                path: coverage.xml
